body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

table{
    width: 80%;
    padding: 20px;
    border-spacing: 0 15px;
    border: 1px solid black;
    border-radius: 40px;
}
tr{
    background-color: #d7e5f594;
    width: 80%;
    border-radius: 40px;
}
th{
    text-align: center;
    height: 30px; 
    border: none;
    padding: 20px 0px;
    background-color: white;
}
td{
    text-align: center;
    height: 30px;
    border: none;
    padding: 20px 0px;
}
td:nth-child(1) {
    border-radius: 40px 0 0 40px
  }
td:nth-child(5) {
    border-radius: 0 40px 40px 0;
  }